# Arquivos de configuração do ambiente
.env

# Ambiente Virtual
venv/
.venv/

# Caches do Python
__pycache__/
*.pyc

# Arquivos de IDEs
.vscode/
.idea/

# Arquivos de sistema
.DS_Store

# Arquivos de dados por extensão
data/raw/*.json
data/processed/*.csv
data/processed/*.json

# Arquivos de cache
.cache


package-lock.json
build/
dist/
node_modules/